<div ng-controller="allGetController">
    <h3 id='list' class="h1list">Recent Chirps!</h3>
    <div>
        <div class='chirp' ng-repeat='chirps in allChirps' id={{chirp.id}}>

            <h4 ng-click="deleteSingle(chirps.id)">X</h4>
            <a ng-click="goToSingle(chirps.id)" href='#single'>
                <div>
                    <hr class='line' />
                    <img class='tiny' src="http://i0.kym-cdn.com/photos/images/newsfeed/000/687/093/6a8.jpg">
                    <div class='user/name'>
                        <p class='user'>USER : </p>
                        <p class='username'>{{chirps.user}}</p>
                    </div>
                    <p class='message'>CHIRP! :</p>
                    <p class='messagetext'> {{ chirps.message}} </p>
                </div>
            </a>
        </div>
    </div>
</div>